<div class="auth-page">
  <div class="dashboard">

    <!-- Боковое меню -->
    <div class="sidebar">
      <div class="sidebar-item" routerLink="/lk-manager-apps">Мои заявки</div>
      <div class="sidebar-item active" routerLink="/lk-manager-apps-all">Все заявки</div>
    </div>

    <!-- Основная часть с заявками -->
    <div class="apps-section">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <p class="title-lk">Мои заявки</p>
        <span class="username">{{ authService.currentUser }}</span>
      </div>
      <div class="applications">
        <div *ngFor="let app of applications" class="app" [class.vip]="app.isVip">
          <div class="app-header">
            <span class="status-indicator" [class]="getStatusClass(app.status)"></span>
            <p class="title-app">{{ app.title }}</p>

            <!-- Блок справа: автор + селект статуса -->
            <div class="app-actions">
              <div class="author">
                <strong>Автор:</strong> {{ app.owner }}
              </div>

              <div class="status-select-container">
                <label for="statusSelect-{{ app._id }}">Статус:</label>
                <select id="statusSelect-{{ app._id }}"
                        [(ngModel)]="app.status"
                        (change)="onStatusChange(app)">
                  <option value="new">Новая</option>
                  <option value="in progress">В работе</option>
                  <option value="closed">Закрыта</option>
                </select>
              </div>
              <button *ngIf="app.status != 'closed'" class="reject-btn" (click)="rejectApplication(app)">Отказаться</button>
            </div>
          </div>

          <p>{{ app.text }}</p>
          <small>Создано: {{ app.createdAt | date:'dd.MM.yyyy HH:mm' }}</small>
        </div>
      </div>
    </div>
  </div>
</div>