<footer class="site-footer" id="contacts">
  <div class="footer-content">
    <!-- Контакт: телефон -->
    <div class="footer-contact">
      <span class="footer-icon">📞</span>
      <p>+7 (123) 456-78-90</p>
    </div>

    <!-- Контакт: почта -->
    <div class="footer-contact">
      <svg class="footer-icon email-icon" viewBox="0 0 24 24" width="35" height="35" fill="lightblue">
        <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 6L4 10V6l16 0v4z"/>
      </svg>
      <p>support@telekom.ru</p>
    </div>

    <!-- Контакт: телеграм -->
    <div class="footer-contact">
      <a href="https://t.me/og_buba_com" target="_blank" class="footer-link telegram">
        <img src="assets/img/telegram.png" style="width: 50px;" class="nav-menu-container--logo">
        <p>Telegram</p>
      </a>
    </div>
  </div>
</footer>