<div class="main-window">
  <div class="nav-menu-container">
    <img src="assets/img/logo.png" class="nav-menu-container--logo">
    <div class="nav-menu-container__section">
      <a href="#about" class="nav-menu-container__section--attr">О нас</a>
      <div class="nav-menu-container__section--attr">Услуги</div>
      <div class="nav-menu-container__section--attr">Контакты</div>
    </div>
    <a routerLink="/auth" class="nav-menu-container__section--entrance">Вход</a>
  </div>
  <div class="main-text">
    <div class="main-text--attr">
      <div class="main-text--attr__main">ТелеКом</div>
      <div class="main-text--attr__second">Надёжное общение для вашего бизнеса</div>
    </div>
  </div>
</div>
<app-about></app-about>
